html{
    background-image: url("./bg.jpg");
    color: #000814;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Logo {
    border: 1px solid #000814;
    background: #f8f9fa;
    background: rgba(248, 249, 250, 0.8);
    text-align: center;
    margin-top: 20px;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.NewContent {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.Form {
    border: 1px solid #000814;
    border-top: none;
    background-color: #f8f9fa;
    background: rgba(248, 249, 250, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding-bottom: 1%;
    padding-top: 1%;
}

.Form label {
    margin-bottom: 10px;
}

.movieTitle {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.AddToList {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.AddToListbutton {
    font-weight: bold;
}

.TilesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Tile {
    background-color: #f8f9fa;
    border: 1px solid #000814;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.4);
}

.TileContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Ratings {
    margin: 10px 0;
}

.deleteTile {
    margin-bottom: 10px;
}

.editTile {
    margin-bottom: 10px;
}

button {
    background-color: #03045e;
    color: #f8f9fa;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
}

.Poster {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    margin-bottom: 10px;
}

.isWatched {
    margin-top: 10px;
}

.deleteTile {
    border: none;
    padding: 10px 25px;
    margin-top: 10px;
}

.deleteTile, .editTile{
    text-transform: uppercase;
}

.deleteTile:hover, .editTile:hover{
    transform: scale(1.15);
}


.deleteTile span, .editTile {
    font-weight: bold;
}

.TypeOf {
    margin-left: 5px;
}